.App {
  text-align: center;
  display: flex;
  width: 30%;
  margin-left: 35%;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  
}
.Login-Form input{
margin: 5px;
}
.Class-Box{
  border: solid #444 1px;
  border-radius: 10px;
  padding: 10px;
  text-align:left;
  margin-bottom: 10px;
}
.Class-Box p{
  font-weight: bold;
}
.Class-Box span{
  font-weight:400
}
.logout-button{
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 4px;
}